.quiz-container {
    // padding: 15px;
    .title {
        font-size: 32px;
        font-weight: 600;
    }

    legend {
        font-size: 16px;
    }
}
.quiz-container {
    .accordion {}

    .list-detail {
        padding: 20px;
    }
}