.admin-container {
  display: flex;

  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }

  .admin-content {
    width: 100%;

    .admin-hearder {
      border: 1px solid black;
      height: 40px;
    }

    .admin-main {
      border: 1px solid black;
    }

    svg.admin-header__logo {
      position: relative;
      left: 9px;
      top: 3px;
      font-size: 20px;
    }
  }
}