.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh;
        }
    }
}
.admin-content {
    width: 100%;

    .admin-header {
        height: 40px;
        // border: 1px solid black;
    }

    .admin-main {
        // border: 1px solid black;
        .user-paginate {
                display: flex;
                justify-content: center;
                position: relative;
                    right: 150px;
            }
    }
}