.assign-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .assign-select-quiz {
        //
        width: 45%;
    }

    .assign-select-user {
        //
        width: 45%;
    }
}

.assign-btn {
    margin-top: 16px;
    margin-left: 37px;
}