body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .navbar-nav {
      .nav-link {
      }
      .active {
        color: red;
      }
    }
  }
}

.header-container {
  padding: 16px;
}

.homepage-container {
  width: 1440px;
  margin: 0 auto;
}

.home-media {
  display: flex;
  align-items: center;
}

.home-content {
  margin: 0 20px;
}

.home-title {
  font-size: 80px;
  width: 85%;
}
.home-desc {
  font-size: 20px;
}
